img {
    margin: 1.5vh auto;
    height: 60vw;
    max-height: 60vh;
    width: auto;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    border-radius: 1vmin;
}

.center {
    display: var(--flex-display);
    justify-content: var(--justify-content-horizontally);
    align-items: var(--align-items-vertically);
    flex-direction: var(--flex-direction);
    text-align: center;
}

.banner {
    text-align: center;
    height: 4em;
    line-height: 4em;
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}

details[open]~#mainAnimation {
    opacity: 0.26;
}

@media screen and (max-height: 720px) {
    #mainAnimation {
        bottom: 3vh;
        right: 2vw;
    }
}

@media screen and (max-height: 420px) {
    footer.bottom {
        position: static;
    }
}


/* */

section#main {
    position: absolute;
    bottom: calc(var(--footer-bottom) * 2 + 6em);
    width: 60%;
    right: var(--footer-right);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
}

.pseudobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--cube-size) / 5);
    margin: calc(var(--cube-size) / 50 + 1px) 0;
    font-size: calc(var(--cube-size) / 10);
    color: var(--scene-text-color);
    text-shadow: calc(var(--shadow-blur) / 2) calc(var(--shadow-blur) / 2) calc(var(--shadow-blur) / 2) var(--shadow-color2);
    background: var(--scene-background);
}

.pseudobutton:hover {
    cursor: pointer;
    height: calc(var(--cube-size) / 5 + 2px);
    margin: calc(var(--cube-size) / 50) 0;
    color: var(--scene-text-color);
    text-shadow: var(--shadow-blur) var(--shadow-blur) var(--shadow-blur) var(--shadow-color2), 0 0 calc(var(--shadow-blur) * 2) var(--shadow-color1);
}

#main-contact {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--cube-size) / 5 * 5 + (var(--cube-size) / 50 + 1px) * 10);
    margin: calc(var(--cube-size) / 50 + 1px) 0;
    background-color: var(--info-background);
    color: var(--info-text-color);
    font-size: calc(var(--cube-size) / 10);
    z-index: 10;
}

#contact-button:focus~#main-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    text-align: left;
    cursor: pointer;
}

#main-contact img {
    margin: calc(var(--cube-size) / 20 + 1px) 0;
    height: calc(var(--cube-size) / 1);
    width: auto;
    min-width: 20px;
    border: 2px inset navy;
}

#main-contact h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--info-text-color);
    line-height: 1.1em;
}

#main-contact h6:last-child {
    margin-bottom: calc(var(--cube-size) / 20 + 1px);
}

#main-contact h6 span {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--info-text-color);
    font-size: 1.5em;
    line-height: 1.1em;
}

@media (max-width: 1200px) {
    section#main {
        width: 50%;
    }
    #contact-button:focus~#main-contact {
        justify-content: center;
        flex-flow: column;
        text-align: center;
    }
    #main-contact img {
        height: calc(var(--cube-size) * 0.8);
    }
}

@media (max-width: 600px) {
    section#main {
        width: 80%;
        right: 10%;
    }
    button {
        height: 6vh;
        margin: calc(0.5vh + 1px) 0;
        font-size: 3vh;
    }
    button:hover {
        height: calc(6vh + 2px);
        margin: 0.5vh 0;
    }
    #main-contact img {
        height: calc(var(--cube-size) * 1);
    }
    #contact-button:focus~#main-contact {
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row;
    }
}