.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    text-align: right;
}

p {
    text-align: justify;
    opacity: 0.85;
}

.vertical {
    flex-direction: column;
}

form {
    margin: 1vh auto;
    padding: 1vh 1vw;
    border: 0.5vmin solid var(--content-border-color);
    border-radius: 1vmin;
}

#orderList {
    margin: 1vh auto;
    padding: 1vh 1vw;
    width: calc(100% - 2vw);
    border-radius: 1vmin;
    resize: none;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    color: var(--content-txt-color);
    background-color: var(--content-bg-color);
    border: 0.5vmin solid var(--content-border-color);
    border-radius: 1vmin;
}

figure img,
figcaption {
    width: 50%;
}

details:first-of-type {
    margin-top: 15vmin;
}

details:last-of-type {
    margin-bottom: 5vmin;
}

details {
    margin-right: 0;
    width: 55%;
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

.static {
    position: static;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}

@media screen and (max-height: 720px) {}

@media screen and (max-height: 420px) {
    footer.bottom {
        position: static;
    }
}

@media (max-width: 600px) {
    details {
        width: auto;
    }
    figure {
        flex-direction: column;
    }
    figure img,
    figcaption {
        width: 60%;
    }
}