img {
    margin: 1.5vh auto;
    height: 60vw;
    max-height: 60vh;
    width: auto;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    background-color: var(--content-bg-color);
    border-radius: 1vmin;
}

.center {
    display: var(--flex-display);
    justify-content: var(--justify-content-horizontally);
    align-items: var(--align-items-vertically);
    flex-direction: var(--flex-direction);
    text-align: center;
}

.banner {
    text-align: center;
    height: 4em;
    line-height: 4em;
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}

details[open]~#mainAnimation {
    opacity: 0.26;
}

@media screen and (max-height: 720px) {
    #mainAnimation {
        bottom: 3vh;
        right: 2vw;
    }
}

@media screen and (max-height: 420px) {
    footer.bottom {
        position: static;
    }
}