.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    text-align: right;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    color: var(--content-txt-color);
    background-color: var(--content-bg-color);
    border-radius: 1vmin;
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}

details[open]~#mainAnimation {
    opacity: 0.26;
}

@media screen and (max-height: 720px) {
    #mainAnimation {
        bottom: 3vh;
        right: 2vw;
    }
}

@media screen and (max-height: 420px) {
    footer.bottom {
        position: static;
    }
}