a {
    width: 100%;
    color: var(--content-txt-color);
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: var(--content-txt-color);
    border-top: 1px solid darkgoldenrod;
    border-bottom: 1px solid darkgoldenrod;
}

summary {
    opacity: 0.66;
}

summary b {
    font-size: calc(var(--cube-size) / 6);
    color: var(--scene-text-color);
    text-shadow: var(--shadow-blur) var(--shadow-blur) var(--shadow-blur) var(--shadow-color2), 0 0 calc(var(--shadow-blur) * 2) var(--shadow-color1);
}

summary:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-height: 720px) {
    summary b {
        font-size: initial;
    }
}