a {
    width: 100%;
    color: var(--content-txt-color);
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

a:hover {
    color: var(--content-txt-color);
    border-top: 1px solid darkgoldenrod;
    border-bottom: 1px solid darkgoldenrod;
}

summary {
    opacity: 0.66;
}

summary:hover {
    opacity: 1;
    cursor: pointer;
}