.orderlistDropdown {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 20em;
    text-align: right;
}

.orderlistQuantity {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 19.5em;
    text-align: right;
}

.orderlistButton {
    font-size: 16px;
    margin: 1em 0;
    padding: 2px;
    width: 100%;
}

.fillParentsWidth {
    width: calc(100% - 2 * var(--padding-w));
}