.orderlistDropdown {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 20em;
    text-align: right;
}

.orderlistQuantity {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 19.5em;
    text-align: right;
}

.orderlistButton {
    font-size: 16px;
    margin: 1em 0;
    padding: 2px;
    width: 100%;
}

.fillParentsWidth {
    margin: 0;
    width: calc(100% - 2 * var(--padding-w));
}

.txtinitial {
    text-align: initial;
}

table {
    width: 100%;
    color: var(--orderlist-text-color);
    background-color: var(--orderlist-table-color);
}

th:hover {
    cursor: url('http://upload.wikimedia.org/wikipedia/commons/d/de/POL_apple.jpg');
}

td {
    padding: var(--padding-w);
    background-color: var(--content-bg-color);
}

td :first-child {
    width: 70%;
}

td:last-child {
    width: 30%;
    text-align: right;
}