.orderlistDropdown {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 20em;
    text-align: right;
}

.orderlistQuantity {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 19.5em;
    text-align: right;
}

.orderlistButton {
    font-size: 16px;
    margin: 1em 0;
    padding: 2px var(--padding-w);
    width: 100%;
}

.notFoundBtn {
    font-size: 16px;
    margin: var(--margin-h) 0;
    padding: 2px;
    width: 20em;
}

.notFoundBtn:hover {
    cursor: pointer;
}

.fillParentsWidth {
    margin: 0;
    width: calc(100% - 2 * var(--padding-w));
}

.txtinitial {
    text-align: initial;
}

table {
    margin: var(--margin-h) auto;
    width: 100%;
    color: var(--orderlist-text-color);
    background-color: var(--orderlist-table-color);
}

tr.initial {
    cursor: default;
}

tr.fixed {
    cursor: pointer;
}

tr.fixed:active {
    cursor: url('../../images/delete.png') 16 16, auto;
}

td {
    padding: var(--padding-w);
    background-color: var(--content-bg-color);
    z-index: -1;
}

td:first-of-type {
    width: 70%;
}

tr.fixed>td:first-of-type {
    background-image: url('../../images/delete.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 8px);
}

td:last-of-type {
    width: 30%;
    text-align: right;
}

#tableData {
    font-family: monospace;
}

#googleTable>table {
    border: 1px solid var(--content-border-color);
}

#googleTable>table td {
    width: auto;
    text-align: center;
}

#googleTable>table tbody tr th {
    width: 30px;
}