:root {
    --body-color: rgba(224, 224, 224, 0.9);
    --text-color: black;
    /* margin padding*/
    --margin-w: 1vw;
    --margin-h: 1vh;
    --padding-w: 1vw;
    --padding-h: 1.5vh;
    --border-width: 1vmin;
    /* contents */
    --content-border-width: 0.5vmin;
    --content-border-style: solid;
    --content-border-color: rgba(192, 192, 192, 0.35);
    --content-txt-color: var(--text-color);
    --content-bg-color: rgba(248, 248, 248, 0.7);
    /* forms */
    --form-border-color: rgba(192, 192, 192, 0.35);
    --orderlist-table-color: var(--text-color);
    --orderlist-text-color: darkslategray;
    /*   */
    --scene-text-color: var(--text-color);
    --shadow-blur: 0.1vmin;
    --shadow-color1: lightslategray;
    --shadow-color2: lightgray;
}

body {
    margin: 0;
    padding: var(--padding-h) var(--padding-w);
    min-height: calc(96vh + 1px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: scroll;
}

h1 {
    font-style: italic;
    font-weight: lighter;
    font-size: calc(var(--cube-size) / 6);
    color: var(--text-color);
    text-shadow: var(--shadow-blur) var(--shadow-blur) var(--shadow-blur) var(--shadow-color2), 0 0 calc(var(--shadow-blur) * 2) var(--shadow-color1);
}