:root {
    --body-color: rgba(0, 0, 160, 0.9);
    --text-color: whitesmoke;
    /* contents */
    --content-border-width: 2px;
    --content-border-style: solid;
    --content-border-color: transparent;
    --content-txt-color: black;
    --content-bg-color: rgba(224, 208, 240, 0.85);
}

body {
    min-height: calc(96vh + 1px);
    color: var(--text-color);
    background-color: var(--body-color);
    margin: 0;
    padding: 1vh 1vw;
    overflow: scroll;
}