:root {
    /* contents */
    --content-border-width: 2px;
    --content-border-style: solid;
    --content-border-color: transparent;
    --content-txt-color: black;
    --content-bg-color: rgba(184, 134, 11, 0.25);
}

body {
    min-height: calc(96vh + 1px);
    color: var(--content-txt-color);
    background-color: silver;
    margin: 0;
    padding: 1vh 1vw;
    overflow: scroll;
}