.sample {
    position: relative;
    display: block;
    white-space: pre;
    padding: 0.25vmin 1vmin 3vmin 1vmin;
    font-family: monospace;
    min-height: 10vmin;
    color: var(--code-color);
    background: var(--code-bg-color);
    overflow: scroll;
}