body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 100vh;
	background-color: var(--body-bgcolor);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	padding: 0.25em 1.5% 0;
	max-width: 75%;
}

article {
	margin: 1em;
	padding: 0.5em;
	background-color: white;
	border: 1px solid black;
}

article a {
	display: initial;
}

article p {
	margin: 0.5em 0 0 0;
	text-align: justify;
	text-indent: 2em;
}

article p::first-letter {
	font-size: 107%;
	font-weight: 900;
	text-transform: uppercase;
	color: navy;
}

article img {
	display: block;
	margin: 0.5em auto;
}

ul, ol {
	display: table;
	margin: 0.5em 10% 0;
}

img {
	max-width: 80%;
}

/* SLOGAIN */

p.slogain {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: calc(1.2 * var(--menu-icon-size));
	width: 100%;
	height: 100vmin;
	font-variant: small-caps;
	font-size: 2.5vmax;
	font-family: Helvetica, Arial, Sans-Serif;
	color: var(--label-bgcolor);
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}
