body {
	background-color: var(--body-color);
}

.scene {
	box-sizing: content-box;
	border: var(--scene-border);
	background: var(--scene-background);
	margin: calc(var(--cube-size) / 3 - 1px);
	padding: calc(var(--cube-size) / 3 - 1px);
	position: relative;
}

.scene-main {
	height: var(--cube-size);
	perspective: calc(var(--cube-size) * 5 - 1px);
}

.cube {
	width: var(--cube-size);
	height: var(--cube-size);
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(calc(var(--cube-size) / -2));
	transform-origin: 50% 50%;
}

.cube-main {
	margin-top: 0;
	margin-left: 0;
}

.cube.is-spinning {
	animation: spinCube var(--cube-transform);
}

@keyframes spinCube {
	0% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(325deg) rotateY(420deg);
	}

	50% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(280deg) rotateY(60deg);
	}

	100% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(325deg) rotateY(60deg);
	}
}

.cube_face {
	position: absolute;
	width: var(--cube-size);
	height: var(--cube-size);
	border: var(--cube-edge);
	line-height: var(--cube-size);
	font-size: calc(var(--cube-size) / 5);
	font-weight: bold;
	color: var(--cube-font-color);
	text-align: center;
}

.cube_face-front {
	background: var(--cube-color1);
}

.cube_face-right {
	background: var(--cube-color2);
}

.cube_face-back {
	background: var(--cube-color3);
}

.cube_face-left {
	background: var(--cube-color4);
}

.cube_face-top {
	background: var(--cube-color5);
}

.cube_face-bottom {
	background: var(--cube-color6);
}

.cube_face-top {
	transform: rotateX(90deg) rotateZ(90deg) translateZ(calc(var(--cube-size) / 2));
}

.cube_face-bottom {
	transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
}

.cube_face-front {
	transform: rotateY(0deg) translateZ(calc(var(--cube-size) / 2));
}

.cube_face-front.moving {
	transform-origin: left 0;
	animation: moveFront var(--cube-transform);
}

@keyframes moveFront {
	0% {
		transform: translateZ(calc(var(--cube-size) / 2)) rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: translateZ(calc(var(--cube-size) / 2)) rotateX(0deg) rotateY(-180deg) scaleX(66%);
	}

	100% {
		transform: translateZ(calc(var(--cube-size) / 2)) rotateX(0deg) rotateY(0deg);
	}
}

.cube_face-left {
	transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / -2));
}

.cube_face-left.moving {
	transform-origin: left 0;
	animation: moveLeft var(--cube-transform);
}

@keyframes moveLeft {
	0% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(0deg) rotateY(-90deg);
	}

	50% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(0deg) rotateY(-270deg) scaleX(66%);
	}

	100% {
		transform: translateZ(calc(var(--cube-size) / -2)) rotateX(0deg) rotateY(-90deg);
	}
}

.cube_face-right {
	transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2)) translateX(calc(var(--cube-size) * 1));
}

.cube_face-right.moving {
	transform-origin: left 0;
	animation: moveRight var(--cube-transform);
}

@keyframes moveRight {
	0% {
		transform: translateZ(calc(var(--cube-size) / 2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(90deg);
	}

	50% {
		transform: translateZ(calc(var(--cube-size) / 2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(-90deg) scaleX(66%);
	}

	100% {
		transform: translateZ(calc(var(--cube-size) / 2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(90deg);
	}
}

.cube_face-back {
	transform: rotateY(180deg) translateZ(calc(var(--cube-size) / -2)) translateX(calc(var(--cube-size) * 1));
	;
}

.cube_face-back.moving {
	transform-origin: left 0;
	animation: moveBack var(--cube-transform);
}

@keyframes moveBack {
	0% {
		transform: translateZ(calc(var(--cube-size) / -2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(180deg);
	}

	50% {
		transform: translateZ(calc(var(--cube-size) / -2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(0deg) scaleX(66%);
	}

	100% {
		transform: translateZ(calc(var(--cube-size) / -2)) translateX(calc(var(--cube-size) * 1)) rotateX(0deg) rotateY(180deg);
	}
}


@keyframes pulsate {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	to {
		opacity: 1;
	}
}