:root {
  --cube-size: 33vmin;

  --cube-color1: hsla(0, 100%, 50%, 0.7);
  --cube-color2: hsla(60, 100%, 50%, 0.7);
  --cube-color3: hsla(120, 100%, 50%, 0.7);
  --cube-color4: hsla(180, 100%, 50%, 0.7);
  --cube-color5: hsla(240, 100%, 50%, 0.7);
  --cube-color6: hsla(300, 100%, 50%, 0.7);
  --cube-edge: 2px solid navy;
  --cube-font-color: snow;

  --cube-transform: 16s infinite ease-in-out;

  --scene-border: 1vmin solid lightgray;
  --scene-background: hsla(220, 100%, 50%, 0.1);

  /* footer metrix */
  --footer-bottom: 1vmin;
  --footer-left: 10vmin;
  --footer-right: var(--footer-left);
  --footer-width: calc(100% - 2 * var(--footer-left));
}