header,
main,
section,
footer,
article,
details {
    margin: var(--margin-h) var(--margin-w);
    padding: var(--padding-h) var(--padding-w);
    background-color: var(--content-bg-color);
    border-radius: var(--content-border-radius);
}

header,
footer {
    width: 96%;
}

main {
    width: 40%;
    min-width: 420px;
    text-align: center;
}

form {
    padding: var(--padding-h) var(--padding-w);
}

.float_right {
    float: right;
}

.align_right {
    text-align: right;
    box-shadow: 0 0 0.75vmin var(--shadow-color1);
}

.indented {
    text-indent: 2.5em;
}

button>* {
    height: calc(var(--body-module-size) / 2);
    font-size: calc(var(--body-module-size) / 3);
}

button {
    box-shadow: 0 0 0.75vmin var(--shadow-color1);
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 1vmin var(--shadow-color1);
}

input[type="submit"] {
    border-color: transparent;
    background-color: transparent;
    font-size: calc(var(--body-module-size) / 4);
    font-weight: normal;
    line-height: calc(var(--body-module-size) / 4);
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: initial;
    background-color: initial;
    text-shadow: 1px 1px 0 var(--shadow-color1);
    box-shadow: 1px 1px 0.5vmin var(--shadow-color1);
}