div,
header,
main,
section,
footer,
article,
details,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--margin-h) var(--margin-w);
    padding: var(--padding-h) var(--padding-w);
    background-color: var(--content-bg-color);
    border-radius: var(--content-border-radius);
}