:root {
    --body-color: rgba(224, 224, 224, 0.9);
    --text-color: rgba(12, 24, 36, 0.9);
    --body-module-size: 10vmin;
    /* margin padding */
    --margin-w: 1vw;
    --margin-h: 1vh;
    --padding-w: 1vw;
    --padding-h: 1.5vh;
    /* contents */
    --content-border-width: 0.25vmin;
    --content-border-style: solid;
    --content-border-color: rgba(192, 192, 192, 0.35);
    --content-border-radius: calc(6 * var(--content-border-width));
    --content-txt-color: var(--text-color);
    --content-bg-color: rgba(248, 248, 248, 0.7);
    /* shadow stroke */
    --shadow-blur: 0.1vmin;
    --shadow-color1: lightslategray;
    --shadow-color2: lightgray;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 2rem - 2px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: scroll;
}