img {
    margin: 1.5vh auto;
    height: 60vw;
    max-height: 60vh;
    width: auto;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    background-color: var(--content-bg-color);
    border-radius: 1vmin;
}

.center {
    display: var(--flex-display);
    justify-content: var(--justify-content-horizontally);
    align-items: var(--align-items-vertically);
    flex-direction: var(--flex-direction);
}

#mainAnimation {
    position: fixed;
    bottom: calc(3vh + 6em);
    right: 5vw;
    height: 65vh;
    max-height: 65vmin;
    width: auto;
    opacity: 0.99;
    animation: krug 2s ease-in-out 1;
}

@keyframes krug {
    0% {
        height: 40vh;
        max-height: 40vmin;
    }
    60% {
        height: 80vh;
        max-height: 80vmin;
    }
    85% {
        height: 62vh;
        max-height: 62vmin;
    }
    100% {
        height: 65vh;
        max-height: 65vmin;
    }
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}

details[open]~#mainAnimation {
    opacity: 0.66;
    z-index: -1;
}

@media screen and (max-height: 720px) {
    #mainAnimation {
        bottom: 3vh;
        right: 2vw;
    }
}

@media screen and (max-height: 420px) {
    footer.bottom {
        position: static;
    }
}