img {
    margin: 1.5vh auto;
    height: 60vw;
    max-height: 60vh;
    width: auto;
}

main,
header,
footer,
section,
article,
details,
figure {
    margin: 1vh auto;
    padding: 1vh 1vw;
    background-color: var(--content-bg-color);
    border-radius: 1vmin;
}

.center {
    display: var(--flex-display);
    justify-content: var(--justify-content-horizontally);
    align-items: var(--align-items-vertically);
    flex-direction: var(--flex-direction);
}

.bottom {
    position: fixed;
    left: 1vw;
    right: 1vw;
    bottom: 1vh;
}

details[open]~footer.bottom {
    position: static;
}

details[open] summary>i {
    display: none;
}