.sample {
    position: relative;
    display: block;
    margin: 0.5vmin auto;
    padding: 1em 1em 0;
    width: 98%;
    white-space: pre;
    font-family: monospace;
    color: var(--code-color);
    background: var(--code-bg-color);
    overflow: scroll;
}