@import url(../init.css);
@import url(../params.css);
button {
    position: absolute;
    background: none;
    color: var(--content-txt-color);
    text-shadow: 0 0 var(--shadow-blur) var(--shadow-color1);
    width: 240px;
    height: 80px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    border-radius: var(--content-border-radius);
    transition: .6s;
    overflow: hidden;
}

button:before {
    position: absolute;
    content: '';
    display: block;
    width: 60px;
    height: 100%;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 100%;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

.buttonA {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-A);
}

.buttonA:before,
.buttonA:after,
.buttonA:hover {
    background: var(--content-bg-color-A);
}

.buttonP {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-P);
}

.buttonP:before,
.buttonP:after,
.buttonP:hover {
    background: var(--content-bg-color-P);
}

.buttonD {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-D);
}

.buttonD:before,
.buttonD:after,
.buttonD:hover {
    background: var(--content-bg-color-D);
}