@import url(../init.css);
@import url(../params.css);
.wrapper {
    margin: var(--margin-h) var(--margin-w);
    background-color: var( --shadow-color2);
}

button {
    background: none;
    margin: var(--margin-h) var(--margin-w);
    color: var(--content-txt-color);
    text-shadow: 0 0 var(--shadow-blur) var(--shadow-color2);
    width: calc(var(--body-module-size) * 3);
    height: var(--body-module-size);
    font-size: calc(var(--body-module-size) / 3);
    line-height: var(--body-module-size);
    border-radius: var(--content-border-radius);
    transition: .6s;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.buttonA {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-A);
}

.buttonA:hover {
    background: var(--content-bg-color-A);
}

.buttonP {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-P);
}

.buttonP:hover {
    background: var(--content-bg-color-P);
}

.buttonD {
    border: var(--content-border-width) var(--content-border-style) var(--content-bg-color-D);
}

.buttonD:hover {
    background: var(--content-bg-color-D);
}